/* 
font-family: 'Work Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800&display=swap');
body{
    max-width: 1920px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Header section start from here */
#header{
    width:100%;
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 0px;
}
.nav{
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:76%;
}
.nav h2{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.nav ul{
    display:flex;
}
.nav ul li{
    list-style: none;
    margin-left: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.nav ul li a{
    text-decoration: none;
    color: #424242;
}

/* banner secton start from here */
.banner{
    margin:30px auto;
}
.banner-text{
    max-width:862px;
    text-align: center;
    margin: 0 auto;
}
.banner-text h1{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.banner-text p{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    width: 100%;
}
.primary-btn{
    width: 180px;
    color: #fff;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600px;
    border: none;
    padding: 20px 25px 20px 25px;
    margin: 30px auto;
    cursor: pointer;

}
.banner-img{
    width: 75%;
    margin: 0 auto;
}
.banner-img img{
    width: 100%;
}

/* Feature Section */
#features{
    width:75%;
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.features-image{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 30px;
}
.features-text{
    padding-left: 30px;
    padding-right: 30px;
}
.features-image img{
    width:180px;
}

.features-text h2{
    color: var(--Dark-01, #131313);
    font-size: 2rem;
    font-weight: 700;
}
.features-text p{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

/* Experience Section */
.experience{
    width:75%;
    background-color: aqua;
    margin: 0 auto;
}
.experience-text{
    width:50%;
}
.experience-images{
    width: 50%;
    object-fit: cover;
}
.experience-images img{
    object-fit: cover;
}
.con-title{
    color:#131313;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}
.con{
    color:#727272;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.love{
    width: 400px;
    height: 150px;
    border: 1px solid rebeccapurple;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.love h5{
    color:#131313;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}
.love p{
    color:#727272;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.years{
    width: 300px;
    height: 150px;
    border-radius: 8px;
    background: #FF900E;
    padding: 45px  42px;
    color: #FFF;
}
.years h1{
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;

}
.years p{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

/* facts section */
.facts{
    width: 75%;
    margin: 50px auto;
}
.facts-text{
    width: 400px;
}
.facts-text h2{
    color:#131313;
    font-size: 2rem;
    font-weight: 700;
}
.facts-text p{
    color:#727272;
    font-size: 12px;
    font-weight: 500;
}
.facts-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.box{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 10px 10px;
    height: 150px;
    width: 150px;
}
/* Sponsors Section */
#sponsor{
    width: 75%;
    margin: 50px auto;
}
.sponsor-content h2{
    color:#131313;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.sponsor-content{
    width:400px;
    margin: 0 auto;
}
.sponsor-content p{
    color:#727272;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.sponsor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* Footer Section */
#footer{
    width: 75%;
    margin: 50px auto;
    border-radius: 8px;
    background: #FFF4E7;  
    padding: 15px; 
     
}
#footer p{
    color:#424242;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}


/* Media Queries Start from here */
@media screen and (max-width: 570px){
    .nav{
        flex-direction: column;
    }
    .nav ul{
        flex-direction: column;
        padding-left: 0;
    }
    .nav ul li{
        margin-left: 0;
    }
    .banner-img{
        width:95%;
    }


}
